<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <div class="hamburger hamburger--slider">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
            </div>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="u-navbar">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ site.baseurl }}/">主页</a>
                    </li>
                    {% for page in site.pages %}{% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}{% endfor %}
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container -->
</nav>
<script>
    var hamburger = document.querySelector(".hamburger");
    var body = document.body;
    var navbar = document.querySelector("#u-navbar");
    var collapse = document.querySelector(".navbar-collapse");

    var _u_nav_ = {
        close: function(){
            navbar.classList.remove("in");
            hamburger.classList.remove("is-active");
        },
        open: function(){
            navbar.classList.add("in");
            hamburger.classList.add("is-active");
        }
    }

    hamburger.addEventListener('click', function() {

        if (navbar.className.indexOf('in') >= 0) {
            _u_nav_.close();
        } else {
            _u_nav_.open();
        }
    });

    document.addEventListener('click', function(e){
        console.log(e.target);
        if(e.target.className.indexOf('hamburger') >= 0 ) return;
        // if(e.target.className == 'hamburger-box') return;
        // if(e.target.className ==)
        // if(e.target.className == 'hamburger-box') return;
        _u_nav_.close();
    })
</script>
